/* Début Navbar */
/* MOBILE */
.nav-item {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid white;
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.buy {
    width: auto;
    border: 0;
}

/* AUTRES ECRANS */

@media (min-width:992px) {
    .nav-item {
        width: 25%;
        border: 0;
        border-right: 1px solid white;
    }

    .navbar-nav {
        justify-content: space-evenly;
        width: 100%;
        /* Modification */
        height: 100%;
    }

    .buy {
        width: 10%;
        border: 0;
    }

}

/* Modification */

/* TITRE DE LA NAVBAR */
nav .navbar-brand {
    /* padding: 15px; */
    /* margin-right: 15px; */
    border-right: 1px solid white;
    /* Modification */
    color: white !important;
    font-size: 1.8em;
    text-align: center;
}

/* ELEMENTS DE LA NAVBAR */
nav .navbar-brand:hover {
    color: black;
}

/* Modification */
nav .nav-item:hover {
    background-color:white;  
}

/* Modification */

nav .nav-link {
    color: white !important;
    font-size: 1.5em;
}

nav .nav-link:hover {
    color: black !important;
}

/* COULEUR et ALIGNEMENT NAVBAR */
.color {
    background-color: #6E1412;
    text-align: center;
}

/* Fin navbar */ 

/* Début Footer */


.Logo {
    margin-top: 40px;
    margin-left: 10px;
}

.Title {
    color:white !important;
    height:10px;
}

.Contact {
    color:white;
}

.Copyright {
    color:white;
}

.CB {
    color:white;
}

.Mentions {
    color:white !important;
    text-decoration: none;
}

.Retour {
    text-decoration:none;
    color:black !important;
}

